

#registerStepTwoTermsCheckbox {
	position:relative;
	bottom:2px;
}

.loginForgotPass {
	bottom:70px;
	left:30px;
}

.signInLink, .haveAnAccount {
	position:relative;
	left:44px;
}

#upperLeftTopLinks {
	left:40px;
}

#friendsSearchOptionsBox {
	padding-bottom:10px;	
	height:207px;
}

#blurbTextArea {
	width:156x;
	height:60px;
	
}

#updatesMiddle {
	padding-bottom:20px;	
}