#profiles {
	padding-bottom:50px;
	background-color:#FFF;
	-moz-border-radius-bottomright: 65px;
	-moz-border-radius-bottomleft: 65px;
	border-bottom-left-radius: 65px;
	border-bottom-right-radius: 65px;
	padding-top:30px;
}

#profilesInner {
	width:650px;
	margin-left:auto;
	margin-right:auto;
}

.userProfileTop .userImage {
	clear:left;
	float:left;
	margin-top:24px;
}

.userProfileTopTop, .userProfileTopBottom {
	float:left;
	width:590px;
}

.userProfileTopTop {
	margin-top:9px;
	margin-left: 8px;
	border-bottom: solid #DDD 1px;
	padding-bottom:2px;
}

.userProfileTopTop .nameLink {
	float:left;
	font-size:20px;
	color:#0664A3;
}

.userProfileTopTop span {
	float:right;
	font-size:14px;
	margin-top:5px;
}

.userProfileTopBottom {
	margin-top:2px;
	margin-left:8px;
}

.userProfileTopBottom span {
	font-size:15px;	
	float:left;
}

.userProfileTopBottom .facebookLink {
	float:right;
}

.userProfileTop .friendsOfLink {
	float:left;
	font-size:14px;
	margin-left:2px;
}

.friendsOfLink span {
	margin-left:4px;
	margin-right:4px;	
}

.friendsOfLink a {
	color:#0664A3;
	font-weight:bold;
}

.facebookLink img {
	float:left;	
	margin-top:2px;
}

.profileUpdate {
	float:left;
	margin-top:20px;
	margin-left:30px;
	width:850px;
}

.profileUpdateTopLeft {
	float:left;
	width:300px;
	margin-left:10px;
	margin-top:12px;
}

.profileUpdateTitle {
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	margin-left:20px;
}

.profileUpdateMessage {
	font-size:15px;
	float:left;
	margin-left:15px;
	margin-top:30px;
}


.profileUpdateTopLeft .joinLightShell {
	clear:left;	
	margin-top:10px;
}

.profileUpdateBottomLeft {
	float:left;
	clear:left;
	color:#4D4D4D;
	font-size:14px;
	margin-left:30px;
	margin-top:10px;
	width:380px;
}

.profileUpdateRight {
	float:right;
	clear:right;
}

.profileUpdateTopRight {
	float:right;
	margin-right:2px;
	margin-top:14px;
	width:120px;
	height:40px;
}

.profileUpdateTopRight span {
	color:#777777;
	font-size:14px;
	line-hight:10px;
}

.profileUpdateBottomLeft span {
	color:#777777;
}

.profileUpdatePlace, .profileUpdateActivity {
	margin-left:15px;	
}

.profileUpdateActivity span{
	color:#141414;
}

.profileUpdatePlace span{
	color:#662D91;
}

.profileUpdateBottomRight {
	float:right;
	margin-right:8px;
	margin-top:10px;
	clear:right;
}

.profileUpdateBottomRight span{
	color:#777777;
	float:left;
	font-size:14px;
	margin-left:2px;
	clear:left;
	margin-top:5px;
}

.profileUpdateBottomRight .nameLink{
	float:left;
	color: #0664A3;
	margin-left:5px;
	margin-top:25px;
	font-size:13px;
}

.profileUpdateBottomRight .userImage{
	float:left;
	clear:left;
	margin-top:5px;
}

#friendProfile {
	margin-left:370px;
	margin-top:150px;
	width:100px;
}

.responseMessage {
	clear:left;
	float:left;
	font-size:14px;
	margin-top:40px;
	text-align:center;
	width:100%;
	margin-bottom:60px;
}

.friendRequestButton {
	cursor:pointer;
	float:left;
	height:34px;
	margin-left:8px;
	margin-top:10px;
	width:96px;
	
}


.profileJoinedWith {
	position:relative;
	bottom:60px;
	clear:both;
	float:left;
	margin-left:50px;
	width:180px;
}

.profileJoinedWith a {
	bottom:1px;
	color:#0664A3;
	float:left;
	font-family:Tahoma,Geneva,sans-serif;
	font-size:14px;
	margin-left:8px;
	margin-top:13px;
	position:relative;
}

.profileJoinedWith img {
	clear:left;
	float:left;
	margin-top:3px;
	z-index:2;
}


.profileImageTitle {
	float:left;
}

.profileUpdate .updateShell {
	float:left;
	margin-left:50px;
	margin-top:20px;
	width:750px;
}

.updateProfileLeft {
	width:120px;
	margin-left:8px;
	margin-right:14px;
}

.profilesHorizontalLine {
	width:86%;
	margin-left:auto;
	margin-right:auto;
	height:1px;
	background-color:#E9E9E9;
	clear:both;
	margin-top:20px;
}

.userProfileTop {
	height:200px;
	margin-left:auto;
	margin-right:auto;
	width:500px;
}

.userProfileName {
	border-bottom:1px solid #AAAAAA;
	float:left;
	height:30px;
	width:320px;	
}

.userProfileName a {
	color:#0664A3;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	margin-left:1px;	
}

.userProfileSocialNetworks {
	border-bottom:1px solid #AAAAAA;
	float:right;
	height:30px;
	width:170px;
}

.userProfileSocialNetworks a{
	float:right;
	margin-left:5px;
}

.userProfileNumber {
	float:left;
	font-size:14px;
	height:34px;
	margin-left:1px;
	margin-top:5px;
	width:300px;
}

.userProfileStatistics {
	float:right;
	margin-top:4px;
	width:170px;
}

.userProfileSocialRating {
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:22px;
	font-weight:bold;
	margin-left:6px;
	margin-top:6px;
}

.userProfileSocialRatingLabel {
	color:#00003D;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-left:8px;
	margin-top:12px;
}

.userProfileQuickie {
	border-top:1px solid #E9E9E9;
	clear:both;
	font-size:14px;
	margin-left:auto;
	margin-right:auto;
	padding-top:6px;
	position:relative;
	text-align:center;
	top:20px;
	width:480px;
}

.socialMeter {
	background-color:#666666;
	float:left;
	height:8px;
	margin-left:8px;
	margin-top:24px;
	width:440px;
}

.socialMeterBar {
	background-color:#FFDE19;
	height:100%;
}

.userProfileSignalsCount {
	clear:left;
	float:left;
	font-size:14px;
	margin-left:2px;
}

.socialMeterHiddenBar {
	background-color:#FFDE19;
	height:100%;
	width:100%;
}
