#friendsSearchOptionsBox {
	height:227px;
}

#timeEndDropDownBox {
	position:relative;
	bottom:2px;
}

#blurbTextArea {

	width:156px;
	height:52px;
	
}

.loginForgotPass {
	bottom:62px;
	left:30px;
}

